In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_excel('Admission.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'Admission.xlsx'

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\saran\\Desktop\\Test jupyter'

In [6]:
os.chdir("C:\\Users\\Model\\dataset\\Admission.xlsx")

NotADirectoryError: [WinError 267] The directory name is invalid: 'C:\\Users\\Model\\dataset\\Admission.xlsx'

In [8]:
dataset=pd.read_excel('Admission.xlsx')

In [9]:
dataset

   TIMING STUDENT NAME ADMISSION DATE   COURSE  DURATION  LAST DATE    STATUS
0     NaN          NaN            NaT      NaN       NaN        NaT       NaN
1  10To11        UMAIR     2022-03-01      CIT       4.0 2022-07-01  COMPLETE
2  01To02         ASAD     2022-09-01      CIT       6.0 2023-03-01   PROCESS
3  02To03      MANIHIL     2022-07-01  AMAZONE       5.0 2022-12-01  COMPLETE
4  12To01        REHAN     2022-08-01      CIT       8.0 2023-04-01   PROCESS
5  02To03       WASEEM     2022-06-25       GW      10.0 2023-04-25   PROCESS

In [10]:
dataset.head()

   TIMING STUDENT NAME ADMISSION DATE   COURSE  DURATION  LAST DATE    STATUS
0     NaN          NaN            NaT      NaN       NaN        NaT       NaN
1  10To11        UMAIR     2022-03-01      CIT       4.0 2022-07-01  COMPLETE
2  01To02         ASAD     2022-09-01      CIT       6.0 2023-03-01   PROCESS
3  02To03      MANIHIL     2022-07-01  AMAZONE       5.0 2022-12-01  COMPLETE
4  12To01        REHAN     2022-08-01      CIT       8.0 2023-04-01   PROCESS

In [11]:
dataset.tail()

   TIMING STUDENT NAME ADMISSION DATE   COURSE  DURATION  LAST DATE    STATUS
1  10To11        UMAIR     2022-03-01      CIT       4.0 2022-07-01  COMPLETE
2  01To02         ASAD     2022-09-01      CIT       6.0 2023-03-01   PROCESS
3  02To03      MANIHIL     2022-07-01  AMAZONE       5.0 2022-12-01  COMPLETE
4  12To01        REHAN     2022-08-01      CIT       8.0 2023-04-01   PROCESS
5  02To03       WASEEM     2022-06-25       GW      10.0 2023-04-25   PROCESS

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TIMING          5 non-null      object
 1   STUDENT NAME    5 non-null      object
 2   ADMISSION DATE  5 non-null      datetime64[ns]
 3   COURSE          5 non-null      object
 4   DURATION        5 non-null      float64
 5   LAST DATE       5 non-null      datetime64[ns]
 6   STATUS          5 non-null      object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 464.0+ bytes